<!-- app/views/sessions/new.html.erb -->

<h1>Login</h1>

<%= form_tag '/login' do %>
  <div><label class="lbl">Email: </label><%= text_field_tag :email %></div>
  <div><label class="lbl">Password: </label><%= password_field_tag :password %></div>
  <%= submit_tag "Submit" %>   <%= link_to 'Back', products_path %>
<% end %>

